


body {
   /* background-color: violet; */
    background-size: 100% 100%;
    /* background-image:url("https://cdn.discordapp.com/attachments/842749374076944414/880849639291645952/PicsArt_08-27-09.51.46.jpg"); */
    background-repeat: no-repeat;
   
}
html {
    height: 100%
}

.title-div{
    background-size: 100% 100%;
    background-image: url("https://cdn.discordapp.com/attachments/842749374076944414/881011690093826048/PicsArt_08-28-08.35.40.jpg");
    /* float: right; */
    margin-top: -25px;
    margin-left: -20px;
    position: absolute;
   height: 102.6%;

   width: 103.3%;
   background-color: rgb(118, 111, 214);
   
   
}

.title{
    font-size: 4rem;
    margin-top: 70px;
    margin-left: 50px;
    /* position: static; */
}

.subtitle{
    font-size: 2rem;
    margin-top: -70px;
    margin-left: 50px;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.div-second{
    height: 400px;
    columns: white;
}

.btn1{
   
    margin-top: 30%;
    margin-left: 50px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    border-radius: 10px;
    box-shadow: transparent;
    border: none;

    background-color: rgb(218, 82, 58);
    background-image: linear-gradient(to right,  rgb(30, 21, 46), rgb(37, 46, 87) );
    height: 3rem;
    width: 15rem;
}

.btn2{
   
    margin-left: 50px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    border-radius: 10px;
    box-shadow: transparent;
    border: none;

    background-color: rgb(216, 65, 178);
    /* background-image: linear-gradient(to right,  rgb(38, 54, 40), rgb(80, 163, 31) );
     */
     background-image: linear-gradient(to right,  rgb(30, 21, 46), rgb(37, 46, 87) );
    height: 3rem;
    width: 15rem;
}
.btn3{
   
    margin-left: 50px;
    font-size: 1.5rem;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    border-radius: 10px;
    box-shadow: transparent;
    border: none;

    background-color: rgb(216, 65, 178);
    /* background-image: linear-gradient(to right,  rgb(38, 54, 40), rgb(80, 163, 31) ); */
    background-image: linear-gradient(to right,  rgb(30, 21, 46), rgb(37, 46, 87) );
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem; */
    height: 3rem;
    width: 15rem;
}

@media screen and (min-width: 480px) {
    body {
   
        background-size: 100% 100%;
        background-image:url("https://cdn.discordapp.com/attachments/842749374076944414/880849639291645952/PicsArt_08-27-09.51.46.jpg");
        background-repeat: no-repeat;
       
    }
    .title-div{
        background-size: 100% 100%;
        background-image: url("https://cdn.discordapp.com/attachments/842749374076944414/881011690093826048/PicsArt_08-28-08.35.40.jpg");
        /* float: right; */
        margin-top: -25px;
        margin-left: -20px;
        position: absolute;
       height: 103%;
       width: 400px;
       background-color: rgb(118, 111, 214);
       
       
    }
    
    .title{
        font-size: 10rem;
        margin-top: -10px;
        margin-left: 50px;
    }
    
    .subtitle{
        font-size: 2rem;
        margin-top: -130px;
        margin-left: 50px;
    }
  }