body {
    
    background-image: linear-gradient(to bottom right,  rgb(30, 21, 46), rgb(84, 100, 170) );
    /* background-image: linear-gradient(to bottom right, red, yellow); */
   
    background-size: 100% 100%;
   /* background-color: rgb(255, 255, 255); */
   background-size: 100% 100%;
 }


.div-1{
    padding: 2rem;
    width: 80%;
    /* height: 5rem; */
    /* background-color:rgb(112, 146, 221); */
    border-radius: 1rem;
}
.div-11{
    background-color:rgb(112, 146, 221);
   
}
.div-22{
    background-color:rgb(235, 173, 39);
   
}
.div-33{
    background-color:rgb(135, 168, 58);
   
}
.div-44{
    background-color:rgb(182, 102, 65);
   
}

.title{
    color: white;
    font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
}

.subtitle{
    color: white;
    margin-top: -50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.left{
    color:white;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.right{
    color: white;
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.footer{
    color: white;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}