body {
   
    background-size: 100% 100%;
   background-color: rgb(255, 255, 255);
   
}

.div-1{
    padding: 2rem;
    width: 80%;
    /* height: 5rem; */
    background-color:rgb(67, 115, 218);
    border-radius: 2rem;
}